# Configuración de Base de Datos PostgreSQL
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=ofertapp

# Seguridad
SECRET_KEY=ofertapp_super_secret_jwt_key_2026

# URLs de Microservicios (para entorno local o Docker)
AUTH_SERVICE_URL=http://localhost:8001
TRANSACTIONS_SERVICE_URL=http://localhost:8002
NOTIFICATIONS_SERVICE_URL=http://localhost:8003
REPORTS_SERVICE_URL=http://localhost:8004

# Redis (Event Broker)
REDIS_URL=redis://localhost:6379/0
